
<div class='row'>
  <div class='span15'>
    <div class='row'>
      <div class='span15'>
        <div class='widget'>
          <div class='headbar'>
            <h2>Redis DataType Use</h2>
          </div>
          <div id='redis_use' style='width:880px;height:325px; float:left;'></div>
          <div class='headbar'>
            <h2>Data collect</h2>
          </div>
          <div id='data-collect-container' style='width:880px;height:325px'></div>
          <div class='headbar'>
            <h2>Memory Used</h2>
          </div>
          <div id='memory-container' style='width:880px;height:225px'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  //<![CDATA[
    $(function() {
      //////////////////////////////////////////
      // Keyspace hits (键空间命中次数)
      // Keyspace misses (键空间不命中次数)
      // Number of commands processed (执行命令的次数)
      // Number of connections received (连接服务器的次数)
      // Number of expired keys (过期key的数量)
      // Number of rejected connections (被拒绝的连接数量)
      // Latest fork(2) time(最后执行 fork(2) 的时间)
      // The aof_delayed_fsync counter(aof_delayed_fsync 计数器的值)

      new Highcharts.Chart({
        chart: {
          renderTo: 'data-collect-container',
          type: 'column'
        },
        title: {
          text: 'Redis Server Configurations'
        },
        subtitle: {
          text: 'You can get them from Redis Server'
        },
        xAxis: {
          categories: [
            'Keyspace hits',
            'Keyspace misses',
            'Number of connections received',
            'Number of commands processed',
            'Number of expired keys',
            'Number of rejected connections'
          ]
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Count (times)'
          }
        },
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 70,
          floating: true,
          shadow: true
        },
        tooltip: {
          formatter: function() {
            return ''+
              this.x +': '+ this.y +' times';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
          series: [
            {
              name: 'Counting',
              data: <%= redis_configurations %>
            }
          ]
      });
      //////////////////////////////////////////
      new Highcharts.Chart({
        chart: {
          renderTo: 'redis_use',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: 'DataType use in Redis Database'
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
              }
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          //data: <%= @data %>
          data: [
            <% b = 0%>
            <% unless @data.nil? %>
              <% @data.each_with_index do |data,index| %>
                {
                  name: "<%= data.first %>",
                  y: <%= index == (@data.count-1) ? (1-b).round(2) : (data.last).round(2)%>
                },
                <% b += data.last.round(2) %>
              <% end %>
            <% end %>
          ]
        }]
      });

      new Highcharts.Chart({
        chart: {
          renderTo: 'memory-container',
          defaultSeriesType: 'areaspline',
          zoomType: 'x'
        },
        title: {text: ''},
        xAxis: {
          type: 'datetime',
          title: {text: null}
        },
        yAxis: {title: null},
        legend: {enabled: false},
        credits: {enabled: false},
        plotOptions: {
          line: {
            shadow: false,
            lineWidth: 3
          },
          series: {
            marker: {
              radius: 0,
              fillColor: '#FFFFFF',
              lineWidth: 2,
              lineColor: null
            },
            fillColor: {
              linearGradient: [0, 0, 0, 300],
              stops: [
                [0, 'rgb(69, 114, 167)'],
                [1, 'rgba(2,0,0,0)']
              ]
            }
          }
        },
        series: [
            {
              name: "Memory Used",
              data: [ 
                parseInt(<%= Time.now.to_i %>), 
                parseInt(<%= Redis.current.info["used_memory"] %>)
              ]
            }
        ]
      });
    });
    
  //]]>
</script>

