<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab"><i class="icon-info-sign"></i>Redis Info</a></li>
  <li><a href="#messages" data-toggle="tab"><i class="icon-pencil"></i>Commandly-Used Commands</a></li>
  <li><a href="#settings" data-toggle="tab"><i class="icon-edit"></i>Settings</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><h2></h2></th>
        </tr>
      </thead>
      <tbody>
        <% (0..@info.size).step(2) do |a| %>
          <tr>
            <% @info.to_a.slice(a, 2).each do |v| %>
              <td><strong><%= v[0].titleize %></strong></td>
              <td><em><%= v[1] %></em></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="messages">
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <i class="icon-chevron-right"></i> Export And Import Commands
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <%= render "export_and_import" %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <i class="icon-chevron-right"></i> Control Database Commands
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= render "database_command" %>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Collapsible Group Item #3
          </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            c
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="settings">
    <%= render "config" %>
  </div>

</div>

