<h4>Key : <%= @zset.redis_key %></h4>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td style="width: 30%">Type</td>
      <td><%= @zset.redis_type %></td>
    </tr>
    <tr>
      <td style="width: 30%">TTL</td>
      <td><%= @zset.ttl %></td>
    </tr>
    <tr>
      <td style="width: 30%">Encoding</td>
      <td><%= "ziplist" %></td>
    </tr>
    <tr>
      <td style="width: 30%">Size</td>
      <td><%= Redis.current.zcard @zset.redis_key %></td>
    </tr>
  </tbody>
</table>

<div class="widget">
  <div class="header">
    <h4>Values</h4>
  </div>
  <table class="table condensed-table" id="config-table">
    <tbody>
      <% values = Redis.current.zrangebyscore(@zset.redis_key, 0, Float::MAX,{:withscores=>true}) %>
      <% (0..values.size-1).step(2) do |a|%>
        <tr>
          <td style="width: 30%"><b>score = <%= values.slice(a,2)[1] %></b></td>
          <td>
            <div id=<%= values.slice(a,2)[0] %>><%= values.slice(a,2)[0] %></div>
          </td>
          <td>
            <%= link_to "Delete", {:action => "destroy_redis_value", :id => @zset.id, :value => values.slice(a,2)[0], :controller => :objecteds}, :confirm => "Are you sure?" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="btns">
    <button class="btn btn-primary" id="add-value">Add Value</button>
    <%= link_to "Back", objecteds_path, {:class => "btn btn-primary"} %>
  </div>
</div>

<div class='modal hide' id='add-value-confirm'>
  <div class='modal-header'>
    <a class='close' data-dismiss="modal">x</a>
    <h3>Add Value</h3>
  </div>
  <div class='modal-body'>
    <form class="well">
      <label>Score</label>
      <input type="text" class="span3" id="zset_score_input">
      <label>Value</label>
      <input type="text" class="span3" id="zset_value_input">
    </form>
  </div>
  <div class='modal-footer'>
    <button class='btn btn-secondary' id='add-value-cancel-btn'>Cancel</button>
    <button class='btn btn-primary' id='add-value-confirm-btn'>Submit</button>
  </div>
</div>

<script type='text/javascript'>
  $('#add-value').click(function() {
    $('#add-value-confirm').modal({
      backdrop: true,
      keyboard: true
    });
  });

  $('#add-value-cancel-btn').click(function(){
    $('#add-value-confirm').modal('hide');
  });

  $('#add-value-confirm-btn').click(function() {
    var id = <%= @zset.id %>;
    var score = document.getElementById("zset_score_input").value;
    var value = document.getElementById("zset_value_input").value;
    $.ajax({
      url     : 'add_redis_value?value='+value+'&score='+score+'&id='+id,
      success : function(){
        $('#add-value-confirm').modal('hide');
         window.location.reload();
      }
    });
  });
    
</script>

