<h1>Redis Sorted Set</h1>
<form class="navbar-search pull-right"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <span id='filters_box'></span>
  <hr class='filters_box' style='display:none'>
  <input type="search" name="query" class="input-small" placeholder="Search.."><button style="margin-bottom:8px;" class="btn btn-primary" data-disable-with="<i class='icon-white icon-refresh'></i> Refresh" type="submit"><i class="icon-white icon-refresh"></i>Click</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Type</th>
      <th>Size</th>
      <th>TTL</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @zsets.each do |zset| %>
      <tr>
        <td><%= link_to zset.redis_key, objected_path(zset) %></td>
        <td><%= truncate zset.redis_value %></td>
        <td><%= zset.redis_type %></td>
        <td><%= Redis.current.zcard zset.redis_key %></td>
        <td><%= zset.ttl %></td>
        <td><%= time_ago_in_words zset.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_objected_path(zset), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', objected_path(zset), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @zsets, :theme => 'boot' %>

<%= link_to 'New', new_objected_path, :class => 'btn btn-primary' %>

