<h1>Redis Set</h1>

<form class="navbar-search pull-right"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
  <div class="well">
  <span id='filters_box'></span>
  <hr class='filters_box' style='display:none'>
  <input type="search" name="query" class="input-small" placeholder="Search.."><button class="btn btn-primary" data-disable-with="<i class='icon-white icon-refresh'></i> Refresh" type="submit"><i class="icon-white icon-refresh"></i>Click</button>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>type</th>
      <th>TTL</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sets.each do |s| %>
      <tr>
        <td><%= link_to s.redis_key, record_path(s) %></td>
        <td><%= s.redis_value %></td>
        <td><%= s.type %></td>
        <td><%= s.ttl %></td>
        <td><%= time_ago_in_words s.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_record_path(s), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', record_path(s), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_record_path, :class => 'btn btn-primary' %>
