<h1>Redis List</h1>

<fieldset>
  <dl>
    <dt class="key_field label string_type"><label>Key<dd><pre class="prettyprint"><%= @product.redis_key %></dd></pre></label></dt>
    <dt class="value_field label string_type"><label>Value<dd><pre class="prettyprint"><%= @product.redis_value %></dd></pre></label></dt>
    <dt class="value_field label string_type"><label>Type<dd><pre class="prettyprint"><%= @product.redis_type %></dd></pre></label></dt>
    <dt class="value_field label string_type"><label>Size<dd><pre class="prettyprint"><%= Redis.current.lrange(@product.redis_key, 0, -1).size %></dd></pre></label></dt>
    <dt class="value_field label string_type"><label>TTL<dd><pre class="prettyprint"><%= @product.ttl %></dd></pre></label></dt>
  </dl>
</fieldset>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
